.my-container {
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0  10px 10px rgba(0, 0, 0, 0.1);

  .title {
    font-size: 2rem;
    font-weight: bold;
  }

  .extra-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;

    p {
      margin-right: 1rem;
      font-size: 0.8rem;
    }
  }
  
  .mb-4 {
    margin-bottom: 2rem;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(1000px, 1fr));
    gap: 1rem;
    align-items: flex-start;
  }
}

.add-folder-button {
    background-color: #1a1a1a;
    color: #fff;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    &:hover {
      background-color: #154578;
      transform: translateY(-3px);
      box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15);
    }
  }
  
  .add-transaction-button {
    background-color: transparent;
    color: #1a1a1a;
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: bold;
    border: 2px solid #1a1a1a;
    box-shadow: none;
    transition: all 0.3s ease;
    &:hover {
      background-color: #1a1a1a;
      color: #fff;
      transform: translateY(-3px);
      box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15);
    }
  }